/* title section */
  .body
{
  font-family: 'Montserrat';
}


#title{
  background-color: #ff4c68;
  color:#fff;
}
h1
{

font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  /* line-height: 1.5; */
}
  .container-fluid
  {
    padding-top: 3%;
    padding-bottom: 100px;
    padding-right: 15%;
    padding-left: 15%;
  }

/* navbar section */
.navbar
{
  padding-bottom:  4.5rem;
  padding-left: 0px;

}
.navbar-brand
{
  font-family:"Ubuntu";
  font-size: 2.5rem;
  margin-left: 0;
}
.nav-item
{
  padding : 0 18px 0 18px;
}
 .nav-link
 {
   font-family: "Montserrat-Light";
   font-size: 1.2rem;
 }

/* Download Buttons */
 .download-buttons
 {
  margin: 5% 3% 5% 0;

 }
/* title image */
.title-image
{
  width:50%;
  transform: rotate(25deg);
  position: absolute;


}


/* features section */
#features
{
  /* text-align: center;
font-size:1.5rem; */
padding:5% 12% 5% 12%;
background-color: #fff;
position: relative;
z-index: 1;
}
.feature-box
{
  text-align: center;
  padding:5%;

}
.icon
{
  font-size: 2.5rem;
  padding-top: 5%;
  padding-bottom:5%;
  color:#ef8172;
  /* font-family: "Montserrat"; */


}

.icon:hover{
  color:#ff4c68;
}
p{
  color:#8f8f8f;
  font-size: 1rem;

}
h3
{
  font-size:1.5rem;
}

/* testimonial section */
#testimonials
{
  text-align: center;

  background-color:#ef8172;
  color:#fff;
}
 h2 {
   font-family: "Montserrat-Bold";
   font-size: 3rem;
   line-height: 1.5;
   width:75%;
   text-align: center;
   margin-left:10%;
 }
.testimonial-image
{
  width:10%;
  border-radius: 100%;
  margin:20px;
}
.carousel-item
{
  padding-left: 12%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
/* press section */
#press
{
    background-color:#ef8172;
    padding-bottom: 10%;
    text-align: center;
}
.press-icon
{
margin:20px;
width:15%;
}

/* pricing section */

.btn-price{
  width:100%;
}
#pricing
{
  font-style: "Montserrat";
  text-align: center;
  padding:100px;
}

.card
{
  padding :3% 2% 3% 2%;
}

/* media query */

@media (max-width:992px)
{
  #title{
    text-align: center;
  }
  .title-image
  {
    position: static;
    transform: rotate(0);
  }
}

/* footer */
#cta
{
  background-color: #ff4c68;
text-align:center;
color:#fff;
padding-top: 5%;
padding-bottom: 5%;
padding-left: 5%;
padding-right: 5%;


font-family: 'Montserrat', sans-serif;

}
.cta-btn
{
padding-top: 40px;

}
.h3-cta

{
  font-size: 3rem;

  }
  .icon
{
  color:black;
  font-size: 1rem;
  padding-bottom: 7px;
  text-align: center;


}
#footer
{
  text-align: center;


}
.cta-p
{
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;


}

.footer-icon
{
  margin-right: 10px;
  margin-top: 20px;
}
